<div>
    <div *ngIf="user" >
   
    
    <a [routerLink]="['/welcome']">Go back</a>
    
    <div *ngFor="let oneTeam of allTheTeams">
      <a routerLink="/teams/{{oneTeam._id}}">{{oneTeam.teamName}}</a>
      <button (click)="deleteTeam(oneTeam._id)">Delete</button>
    </div>
    
    <button (click)="toggleForm()">Create New Team</button>
    <form *ngIf="isShowing">
      <label>Team Name:</label>
      <input type="text" [(ngModel)]="newTeam.teamName" name="title">
      <button (click)="addNewTeam()">Submit</button>
    </form>
  </div>
  </div>

 