<div class="container-fluid">
    <div class="note-share">
      <h1 class="center">NoteShare</h1>
      <h3 class="center">Here at NoteShare we believe people should take pride in their notes.</h3>
      <h3 class="center">This is why we made this website were all notes are openly readable</h3>
      <h3 class="center">so go and create some beautiful notes for the world to see!!!</h3>
    </div>
  </div>
  <div class="container-fluid">
      <div>
        <img class="img" src="https://avatars3.githubusercontent.com/u/21162806?s=460&v=4" alt="photo">
        <h3>Diego Leal</h3>
        <h4><a href="https://github.com/DiegoLealB">GitHub</a></h4>
        <h4><a href="https://www.linkedin.com/in/diego-leal1994/">Linked In</a></h4>
      </div>
      
      <div>
        <img class="img" src="https://media.licdn.com/dms/image/C4E03AQFyatc5rKNA0w/profile-displayphoto-shrink_800_800/0?e=1533168000&v=beta&t=QFxWwFxCDpYjJ0WOVciR2YboYgRtr7e1jPKGtg-Drts">
        <h3>Luis Flores</h3>
        <h4><a href="https://github.com/chiko15">Github</a></h4>
        <h4><a href="https://www.linkedin.com/in/luis-daniel-flores/">Linked In</a></h4>
      </div>
      
    </div>
    
    <div class="container-fluid">
      <h5><a href="https://github.com/Ironhack-notetaker">Link to this websites code</a></h5>
    </div>