<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="https://vignette.wikia.nocookie.net/6teen/images/2/2a/Notepad.png/revision/latest?cb=20120424165831" 
            class="logo" style="width: 40px">
          </a>
          <span class="navbar-brand">Note Taker</span>
      </div>
      <ul class="nav navbar-nav">
          <li class="dropdown" dropdown> 
              <a dropdownToggle role="button">
                Menu 
                <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu">
                  <li><a [routerLink] = "['/welcome']">Homepage</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a [routerLink] = "['/notes']">Notes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a [routerLink] = "['/teams']">Teams</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a [routerLink] = "['/user']">Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a [routerLink] = "['/quicky']">Quick Note</a></li>
            </ul>
        </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-inverse nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="https://i.pinimg.com/originals/d3/e4/79/d3e4793d5808b8b7be683c40de53b909.png" 
          class="logo" style="width: 40px">
        </a>
        <a class="navbar-brand" [routerLink] = "['/welcome']"> Note Taker</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink] = "['/user']">Profile</a></li>
        <li><a [routerLink] = "['/teams']">Teams</a></li>
        <li><a [routerLink] = "['/notes']">Notes</a></li>
        <li><a [routerLink] = "['/about']">About</a></li>
        
        <li *ngIf="authService.currentUser"><a (click)="logout()" [routerLink] = "['/welcome']">Logout</a></li>
        
      </ul>
      
      <div class="navbar  navbar-inverse navbar-fixed-bottom"></div>
    </div>
  </nav>
  
<router-outlet></router-outlet>


