<a [routerLink]="['/welcome']">Go back</a>

<input placeholder="Search by title" [(ngModel)]='searchText' (keyup)="search(searchText)">
<div *ngFor="let oneNote of noteResults">
  <a routerLink="/notes/{{oneNote._id}}">{{oneNote.title}}</a>
  <button (click)="myNotes(user.userInfo._id, oneNote._id, oneNote)">Add to favorites</button>
  
</div>

<button (click)="sort(allTheNotes)">Sort</button>
<div *ngFor="let oneNote of allTheNotes">
  <a routerLink="/notes/{{oneNote._id}}">{{oneNote.title}}</a>
</div>

<h2>My notes</h2>
<div *ngIf="this.user.userInfo !== null">
  <div *ngFor="let favorite of this.user.userInfo.favorites">
    <p>{{favorite || json}}</p>
    <a routerLink="/notes/{{favorite._id}}">{{favorite.title}}</a>
  </div>
</div>

<button (click)="toggleForm()">Add New Note</button>
<form *ngIf="isShowing">
  <label>Title</label>
  <input type="text" [(ngModel)]="newNote.title" name="title">
  <button (click)="addNewNote()">Submit</button>
</form>















<div *ngIf="userInfo">
  <h2> You are now logged in as {{ user.userInfo.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>

  <button (click)="logout()"> logout </button>
</div>
