<!-- <h3>Favorites</h3>
<div *ngFor="let favorite of userFavorites">
  <p><a routerLink="/notes/{{favorite._id}}">{{favorite.title}}</a></p>
  <button (click)="removeFavorite(user._id, favorite._id)">Remove from favorites</button>
</div>

<h3>My Notes</h3>
<div *ngFor="let note of userNotes">
  <ul>
    <li *ngIf="note.user.includes(user.username)"><a routerLink="/notes/{{note._id}}">{{note.title}}</a></li>
  </ul>
</div>

<h3>My Teams</h3>
<div *ngFor="let team of userTeams">
  <ul>
    <li *ngIf="team.user.includes(user.username)"><a routerLink="/teams/{{team._id}}">{{team.teamName}}</a></li>
  </ul>
</div>

<form>
  <label>Bio</label>
  <input type="text" value="user.bio" [(ngModel)]="formInfo.bio" name="bio">
  <button (click)="updateUserInfo()">Update</button>
</form> -->


<div class="container" *ngIf="this.user">
  <!-- <h3 [(ngModel)]="formInfo.username">Username: {{this.user.username}}</h3>
  <h3  [(ngModel)]="formInfo.email">Email: {{this.user.email}}</h3>
  <h3>Bio:</h3>
  <textarea [(ngModel)]="formInfo.email" name="" id="" cols="60" rows="3">{{this.user.bio}}</textarea> -->
   
  
  <!-- <div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block" (click)="updateUserInfo()">Edit Profile</button></div> -->
<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title" id="lineModalLabel">Update personal information</h3>
    </div>
    <div class="modal-body">

    <form>
      <!-- <div class="form-group">
        <label for="exampleInputPassword1">Username</label>
        <input  [(ngModel)]="formInfo.username" type="text" value="{{this.user.username}}" class="form-control" id="exampleInputPassword1" placeholder="Username" name="username">
      </div> -->
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input  [(ngModel)]="formInfo.email" type="email" value="{{this.user.email}}" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Bio</label>
          <input  [(ngModel)]="formInfo.bio" type="text"  value="{{this.user.bio}}"class="form-control" id="exampleInputText" placeholder="Enter bio" name="bio">
      </div>
    </form>

    </div>
    <div class="modal-footer">
      <div class="btn-group btn-group-justified" role="group" aria-label="group button">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
        </div>
        <div class="btn-group btn-delete hidden" role="group">
          <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
        </div>
        <div class="btn-group" role="group">
          <button (click)="updateUserInfo()" data-dismiss="modal" type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Update Profile</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


  <form class="form-horizontal">
    <fieldset>
      
      <!-- Form Name -->
      <legend>My Profile</legend>
      
      <!-- Text input -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Username</label>  
        <div class="col-md-4">
          <!-- <input [(ngModel)]="formInfo.username" id="textinput" name="username" type="text" value="{{this.user.username}}" class="form-control input-md"> -->
          <h5>{{user.username}}</h5>
        </div>
      </div>
      
      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email</label>  
        <div class="col-md-4">
          <!-- <input [(ngModel)]="formInfo.email" id="textinput" name="textinput" type="text" value="{{this.user.email}}" class="form-control input-md"> -->
          <h5>{{user.email}}</h5>
        </div>
      </div>
      
      
      <!-- Textarea -->
      <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Bio</label>  
          <div class="col-md-4">
            <!-- <input [(ngModel)]="formInfo.bio" id="textinput" name="textinput" type="text" value="{{this.user.bio}}" class="form-control input-md"> -->
            <h5>{{user.bio}}</h5>
          </div>
        </div>
      <!-- <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Bio</label>
        <div class="col-md-4">                     
          <textarea [(ngModel)]="formInfo.bio" class="form-control" id="textarea" name="textarea" value="{{this.user.bio}}">trade show introduction</textarea>
        </div>
      </div> -->
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Edit Profile</button></div>
        </div>
      </div>
      
    </fieldset>
  </form>
  
</div>


<div class="row">
  <div class="content favorites-block">
    <h3 class="center">My Favorites</h3>
    <div *ngFor="let favorite of userFavorites">
      <ul>
        <p><a routerLink="/notes/{{favorite._id}}">{{favorite.title}} <i>by: {{favorite.user}}</i></a></p>

      </ul>
    </div>
  </div>
  
  <div class="content">
    <h3 class="center">My Notes</h3>
    <div *ngFor="let note of userNotes">
      <ul>
        <p *ngIf="note.user.includes(user.username)"><a routerLink="/notes/{{note._id}}">{{note.title}}</a></p>
      </ul>
    </div>
  </div>
  
  <div class="content">
    <h3 class="center">My Teams</h3>
    <div *ngFor="let team of userTeams">
        <p *ngIf="team.user.includes(user.username)"><a routerLink="/teams/{{team._id}}">{{team.teamName}}</a></p>
    </div>
  </div>
</div> 

<div class="temp-space"></div>